n8n/workflows/new-lead-whatsapp.json
{
  "name": "New Lead - WhatsApp Welcome (Mock)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1e2c3d4-0001-4a5b-8c6d-1a2b3c4d5e01",
      "name": "New Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "b2f3d4e5-0002-4a5b-8c6d-1a2b3c4d5e02"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.all()[0].json;\nconsole.log('New lead received (WhatsApp workflow):', JSON.stringify(body));\nreturn $input.all();"
      },
      "id": "c3d4e5f6-0003-4a5b-8c6d-1a2b3c4d5e03",
      "name": "Log Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.all()[0].json;\nconst lead = body.lead || {};\nconsole.log(`MOCK: would send WhatsApp welcome template to ${lead.phone || 'unknown phone'} (${lead.name || 'unknown name'})`);\nreturn [{ json: { mock: 'whatsapp_welcome_sent', organization_id: body.organization_id, lead } }];"
      },
      "id": "d4e5f6a7-0004-4a5b-8c6d-1a2b3c4d5e04",
      "name": "Mock WhatsApp Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e5f6a7b8-0005-4a5b-8c6d-1a2b3c4d5e05",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "New Lead Webhook": {
      "main": [[{ "node": "Log Lead", "type": "main", "index": 0 }]]
    },
    "Log Lead": {
      "main": [[{ "node": "Mock WhatsApp Send", "type": "main", "index": 0 }]]
    },
    "Mock WhatsApp Send": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
